	<footer class="footer">

		<div class="center">

			<div class="footer__grid">

				<div class="footer__logo">

					<picture>

						<source srcset="/img/logo--60x60.webp 1x, /img/logo--120x120.webp 2x" type="image/webp">
						<source srcset="/img/logo--60x60.png 1x, /img/logo--120x120.png 2x">

						<img src="/img/logo--60x60.png" alt="" width="60" height="60" loading="eager">

					</picture>

					{{ site }}

				</div>

				<div class="footer__social">

{% include "template/social.html" %}

				</div>

				<div class="footer__contact">

					<p class="footer__contact-head">
						Контакты
					</p>

					<p class="footer__contact-name">
						Агентство Korea Work
					</p>

					<p class="footer__contact-address">
						Екатеринбург, ул. Малышева, 51 <br>
						БЦ Высоцкий, 45 этаж, офис 45/06/2
					</p>

					<p class="footer__contact-tel">
						<a href="tel:+79222213786">
							<svg width="24" height="24" viewBox="0 0 36 36">
								<use xlink:href="#whatsapp"/>
							</svg>
							+7 922 221 37 86
						</a>
					</p>

				</div>

				<div class="footer__copyright">

					<p>
						© 2024. Все данные, представленные на сайте, носят сугубо информационный характер и не являются исчерпывающими. Для более подробной информации следует обращаться к менеджерам компании по указанным на сайте телефонам. Вся представленная на сайте информация, носит информационный характер и не является публичной офертой, определяемой положениями пункта 2 статьи 437 Гражданского Кодекса РФ.
					</p>

				</div>

			</div>

		</div>

	</footer>