	<header class="header">

		<div class="center">

			<div class="header__flex">

				<div class="header__logo">

					<picture>

						<source srcset="/img/logo--60x60.webp 1x, /img/logo--120x120.webp 2x" type="image/webp">
						<source srcset="/img/logo--60x60.png 1x, /img/logo--120x120.png 2x">

						<img src="/img/logo--60x60.png" alt="" width="60" height="60" loading="eager">

					</picture>

				</div>

				<div class="header__menu">

{% include "template/menu.html" %}

				</div>

				<div class="header__social">

{% include "template/social.html" %}

				</div>

				<div class="header__phone">

					<a href="https://wa.me/+79222213786" target="_blank" rel="noopener nofollow" title="Whatsapp {{ site }}">
						<svg width="36" height="36" viewBox="0 0 36 36">
							<use xlink:href="#whatsapp"/>
						</svg>
						+7 922 221 37 86
					</a>

				</div>

			</div>

		</div>

	</header>