				<div class="menu">

					<button class="menu__btn btn btn--dark" type="button" aria-label="{{ translate.CHOOSE_A_LANGUAGE[lang] }}">

						<span class="btn__inner">
							<img src="/img/lang/{{ lang }}.svg" width="24" height="18" loading="lazy" alt="">
						</span>

					</button>

					<div class="border menu__list">

						<ul class="border__inner">
{% for lang in [
	{
		name : "English",
		flag : "en"
	},
	{
		name : "Español",
		flag : "es"
	},
	{
		name : "Сastellano",
		flag : "cas"
	},
	{
		name : "Português",
		flag : "pt"
	},
	{
		name : "Русский",
		flag : "ru"
	},
	{
		name : "Français",
		flag : "fr"
	}
]%}

							<li>

								<a href="/{% if lang.flag !== 'en' %}{{ lang.flag }}/{% endif %}{{ folder }}">
									<img src="/img/lang/{{ lang.flag }}.svg" width="24" height="18" loading="lazy" alt="">
									{{ lang.name }}
								</a>

							</li>

{% endfor %}

						</ul>

					</div>

				</div>