	<nav class="menu">

		<button class="menu__btn button" type="button" aria-label="переключение меню">
			<svg width="36" height="36" viewBox="0 0 36 36">
				<g stroke-width="5" stroke-linecap="round">
					<line x1="3" y1="7" x2="33" y2="7"/>
					<line x1="3" y1="18" x2="33" y2="18"/>
					<line x1="3" y1="29" x2="33" y2="29"/>
				</g>
			</svg>
		</button>

		<ul class="menu__list">

{% for item in [
	{
		name : 'Вакансия Хостес',
		hash : 'telegram'
	},
	{
		name : 'Отзывы',
		hash : 'reviews'
	},
	{
		name : 'Требования',
		hash : 'candidates'
	},
	{
		name : 'Анкета',
		modal : 'form'
	}
] -%}

			<li>
	{% if item.modal %}
				<button class="menu__link button" data-modal="{{ item.modal }}" type="button">
					{{ item.name }}
				</button>
	{% else %}
				<a class="menu__link" href="#{{ item.hash }}">
					{{ item.name }}
				</a>
	{% endif %}
			</li>

{%- endfor %}

		</ul>

	</nav>