	<div class="modal" id="modal">

		<div class="modal__box">

			<form action="/send/" class="modal__item modal__item--form form">

				<h3 class="form__title h4">
					Анкета на вакансию хостес
				</h3>

				<p class="form__text">
					<a href="https://t.me/Korea_hostes" target="_blank" rel="noopener nofollow">Подписаться на телеграм</a> <br> или <a href="https://wa.me/+79222213786" target="_blank" rel="noopener nofollow" title="Whatsapp Korea Work">Написать в WhatsApp</a>
				</p>

				<div class="form__inputbox">

					<label for="modal-form-name" class="form__label is-required">
						Как вас зовут?
					</label>

					<input class="input" name="name" required="required" id="modal-form-name">

				</div>

				<div class="form__inputbox">

					<label for="modal-form-city" class="form__label">
						В каком городе живете?
					</label>

					<input class="input" name="city" id="modal-form-city">

				</div>

				<div class="form__inputbox">

					<label for="modal-form-work" class="form__label">
						Есть ли опыт работы Хостес в клубах?
					</label>

					<input class="input" name="work" id="modal-form-work">

				</div>

				<div class="form__inputbox">

					<label for="modal-form-age" class="form__label">
						Сколько вам лет?
					</label>

					<input class="input" name="age" id="modal-form-age">

				</div>

				<div class="form__inputbox">

					<label for="modal-form-phone" class="form__label is-required">
						Ваш номер телефона (WhatsApp/Telegram)
					</label>

					<input class="input" name="phone" required="required" id="modal-form-phone" type="tel">

				</div>

				<button class="btn form__submit">
					Отправить анкету
				</button>

				<p class="form__note">
					* Менеджер свяжется с вами в течение рабочего дня и подробно расскажет об условиях работы
				</p>

			</form>

			<aside class="modal__item modal__item--done">

				<p class="modal__title h4">
					Ваш запрос принят!
				</p>

				<p class="modal__text">
					<a href="https://t.me/Korea_hostes" target="_blank" rel="noopener nofollow">Подписаться на телеграм</a> <br> или <a href="https://wa.me/+79222213786" target="_blank" rel="noopener nofollow" title="Whatsapp Korea Work">Написать в WhatsApp</a>
				</p>

				<div class="modal__foot">

					<button class="btn modal__close" type="button">
						Закрыть
					</button>

				</div>

			</aside>

			<div class="modal__item modal__item--video" id="modal-video">

			</div>

			<button type="button" class="modal__close modal__close-btn button" aria-label="Закрыть">
				<svg width="32" height="32" viewBox="0 0 16 16">
					<path stroke-linecap="square" stroke-linejoin="round" stroke-width="1.5" d="m12.5 4-8 8M12.5 12l-8-8"/>
				</svg>
			</button>

		</div>

	</div>