	<div class="modal" id="modal">

		<div class="modal__box">

			<form action="/send/" class="modal__item modal__item--form form">

				<h3 class="form__title h3">
					Войти
				</h3>

				<p class="form__text">
					Логин или пароль неверные
				</p>

				<div class="form__inputbox">

					<label for="modal-form-login" class="form__label">
						Логин
					</label>

					<input class="input" name="login" required="required" id="modal-form-login">

				</div>

				<div class="form__inputbox">

					<label for="modal-form-email" class="form__label">
						E-mail
					</label>

					<input class="input" name="email" required="required" id="modal-form-email" type="email">

				</div>

				<div class="form__inputbox">

					<label for="modal-form-phone" class="form__label">
						Телефон
					</label>

					<input class="input" name="phone" required="required" id="modal-form-phone" type="tel">

				</div>

				<button class="btn form__submit">
					Отправить
				</button>

			</form>

			<aside class="modal__item modal__item--done">

				<div class="modal__ico">

					<svg width="72" height="72" viewBox="0 0 72 72">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m36.25 36-7.6-5.7a1.01 1.01 0 0 1-.4-.8V25a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v4.45a1.01 1.01 0 0 1-.4.8L36.25 36ZM36.25 36l-7.6 5.7a1.01 1.01 0 0 0-.4.8V47a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4.45a1.01 1.01 0 0 0-.4-.8L36.25 36ZM29.59 31h13.27M36.25 41v-5"/>
					</svg>

				</div>

				<p class="modal__title h3">
					Ваш запрос принят!
				</p>

				<p class="modal__text">
					<a href="https://t.me/Korea_hostes" target="_blank" rel="noopener nofollow">Подписаться на телеграм</a> <br> или <a href="https://wa.me/+79222213786" target="_blank" rel="noopener nofollow" title="Whatsapp Korea Work">Написать в WhatsApp</a>
				</p>

				<div class="modal__foot">

					<button class="btn modal__close" type="button">
						Закрыть
					</button>

				</div>

			</aside>

			<button type="button" class="modal__close modal__close-btn button" aria-label="Закрыть">
				<svg width="32" height="32" viewBox="0 0 16 16">
					<path stroke-linecap="square" stroke-linejoin="round" stroke-width="1.5" d="m12.5 4-8 8M12.5 12l-8-8"/>
				</svg>
			</button>

		</div>

	</div>