	<article class="reviews reviews--2">

		<div class="reviews__bg-full">

			<img src="/img/subscribe-telegram/bg.webp" alt="" loading="lazy" width="1340" height="754">

		</div>

		<div class="center">

			<div class="reviews__bg">

				<img src="/img/reviews/bg.webp" alt="" loading="lazy" width="250" height="250">

			</div>

			<div class="reviews__content">

				<h2 class="h1">
					Зарабатывай <span class="nowrap">от 200 000 руб/мес</span> и&nbsp;больше
				</h2>

				<p class="reviews__text">
					Мы предлагаем девушкам лучшие клубы Кореи <b>с повышенным окладом <span class="nowrap">от 2 000 000</span> корейских&nbsp;вон</b>
				</p>

			</div>

			<ul class="reviews__list">

{% for id in ["jaEuzWWuOxk","X-nfowHNphs","DMRqFzEuXoI","u_dkTEw6aJk"] %}

					<li data-youtube="{{ id }}">

						<a href="https://www.youtube.com/shorts/{{ id }}">
							Отзыв о работе хостес в Южной Корее с Korea Work
						</a>

					</li>
{% endfor %}

			</ul>

{% include "template/btns-bottom.html" %}

		</div>

	</article>