.ecosystem {

	margin: var(--margin) 0;
	scroll-margin: var(--indent);

	&__list {

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 92px 0;
		margin: var(--space) 0;

		@media $mdWidth {

			gap: 10px;

		}

		@media $smWidth {

			gap: 0;

		}

	}

	&__item {

		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100px;

		img {

			margin: auto;

		}

		@media $desktop {

			width: 370px;

		}

		@media $tablet {

			flex-basis: calc( ( 100% - 20px ) / 3 );

			img {

				max-width: 70%;
				max-height: 70px;
				object-fit: contain;

			}

		}

		@media $smWidth {

			flex-basis: 50%;

			img {

				width: auto;
				height: auto;

			}

		}

	}

}