.page-text {

	margin: var(--space) auto;
	width: 1072px;

	@media $mdWidth {

		width: auto;
		width: 744px;

	}

	.counter-headings {

		counter-reset: headings 0;

		h2 {

			counter-increment: headings 1;
			counter-reset: point 0;

			&::before {

				content: counter(headings, decimal) '. ';

			}

		}

		&__point {

			counter-increment: point 1;

			&::before {

				content: counter(headings, decimal) '.' counter(point, decimal) '.';

			}

		}

	}

	&__title {

		margin-bottom: 40px;

		@media $smWidth {

			margin-bottom: 20px;

		}

	}

	&__body {

		margin: auto;
		font-size: 18px;
		line-height: 32px;
		color: rgba(229, 229, 229, 0.8);

		@media $smWidth {

			font-size: 14px;
			line-height: 24px;

		}

	}

	h2 {

		font-family: Montserrat;
		font-size: 32px;
		font-weight: 500;
		line-height: 48px;
		color: var(--color);
		margin: 80px 0 40px;

		@media $smWidth {

			font-size: 24px;
			line-height: 40px;

		}

	}

	h3 {

		font-size: 24px;
		font-weight: 500;
		line-height: 36px;
		margin-top: 32px;

		@media $smWidth {

			font-size: 18px;
			line-height: 32px;

		}

	}

	p, li {

		& ~ p,
		& ~ ol,
		& ~ ul {

			margin-top: 32px;

			@media $smWidth {

				margin-top: 20px;

			}

		}

		& + li {

			margin-top: 16px;

			@media $smWidth {

				margin-top: 12px;

			}

		}

		a {

			text-decoration: underline;

			&:hover {

				text-decoration: none;

			}

		}

	}

	ol[type="a"] {

		counter-reset: alpha;

		li::before {

			counter-increment: alpha;
			content: "(" counter(alpha, lower-alpha) ") ";

		}

	}

	ul {

		li {

			padding-left: 24px;

			@media $smWidth {

				padding-left: 20px;

				&::before {

					top: 10px;
					left: 0;
					width: 4px;
					height: 4px;

				}

			}

			&::before {

				position: absolute;
				top: 11px;
				left: 2px;
				content: '';
				border-radius: 50%;
				width: 5px;
				height: 5px;
				opacity: .6;
				background-color: currentColor;

			}

		}

	}

}