.avia {

	padding: var(--space) 0 var(--margin);
	position: relative;
	overflow: hidden;

	&__bg {

		position: relative;
		height: 0;

		img {

			position: absolute;
			top: -180px;
			left: -48px;

			@media $mdWidth {

				width: 128px;
				height: auto;
				object-fit: contain;

			}

		}

		&-full {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0.5;
			pointer-events: none;
			display: flex;
			align-items: flex-end;

			img {

				width: 100%;
				height: auto;
				transform: scaleX(-1);

			}

		}

	}

	&__title {

		margin-bottom: var(--space);

	}

	&__list {

		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: var(--margin);
		counter-reset: headings 0;
		font-weight: 500;
		font-size: 19px;
		line-height: 1.5;

		@media $mdWidth {

			font-size: 18px;
			display: block;

		}

		b {

			display: block;
			margin-bottom: var(--gap);

			@media $smWidth {

				margin-bottom: var(--indent);

			}

		}

		li {

			flex-basis: 30%;
			counter-increment: headings 1;

			@media $mdWidth {

				padding: 32px 32px 24px 140px;

			}

			@media $smWidth {

				padding: 16px 0 24px 72px;

			}

			&::before {

				content: '0' counter(headings, decimal);
				display: block;
				color: var(--red);
				opacity: 0.2;
				font-weight: bold;
				font-size: 164px;
				line-height: 1;
				margin-bottom: -36px;

				@media $mdWidth {

					font-size: 96px;
					position: absolute;
					top: 0;
					left: 0;
					width: 128px;
					text-align: right;

				}

				@media $smWidth {

					width: 60px;
					font-size: 52px;

				}

			}

			&::after {

				position: absolute;
				top: 100px;
				left: 0;
				content: '';
				width: 12%;
				height: 3px;
				opacity: .5;
				background-color: var(--red);

				@media $smWidth {

					top: 72px;

				}

			}

		}

	}

	&__btn {

		margin-top: var(--space);
		display: flex;
		justify-content: center;

	}

}