.burning-offers {

	padding: var(--space) 0;
	position: relative;

	&__bg {

		position: relative;
		height: 0;
		pointer-events: none;

		&--top img {

			position: absolute;
			top: -32px;
			right: 200px;

			@media $mdWidth {

				width: 100px;
				height: auto;
				object-fit: contain;
				right: 0;

			}

		}

		&--bottom img {

			position: absolute;
			top: -128px;
			left: 128px;

			@media $mdWidth {

				width: 96px;
				height: auto;
				object-fit: contain;

			}

		}

	}

	&__title {

		display: flex;
		position: relative;
		margin-bottom: var(--space);

	}

	&__swiper {

		position: relative;
		margin: 0 auto;
		width: 1066px;

		@media $mdWidth {

			width: 680px;

		}

		@media $smWidth {

			width: auto;
			margin-left: calc( var(--indent) * -1);
			margin-right: calc( var(--indent) * -1);

			.swiper-navigation {

				display: none;

			}

			.swiper-pagination {

				position: relative;
				top: 0;

			}

		}

	}

	&__btns {

		display: flex;
		gap: var(--margin);
		justify-content: center;
		margin-top: var(--space);
		position: relative;
		z-index: 1;

	}

	&-item {

		height: 462px;
		position: relative;

		&__img {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			img {

				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				object-fit: cover;

			}

			@media $smWidth {

				&::after {

					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					content: '';
					background-color: #fff;
					opacity: .4;
					backdrop-filter: blur(2px);

				}

			}

		}

		&-1 {

			padding: 16px 48px;
			display: flex;
			flex-direction: column;

			@media $mdWidth {

				padding: 16px 20px;

				img {

					object-position: right;

				}

			}

			@media $smWidth {

				padding: var(--indent);

			}

			&__content {

				max-width: 600px;
				backdrop-filter: blur(2px);
				position: relative;
				z-index: 1;

			}

			&__title {

				margin: 20px 0 40px;
				font-weight: 900;
				font-size: 50px;
				color: #cf2348;

				@media $mdWidth {

					font-size: 40px;
					margin: 16px 0;

				}

				@media $smWidth {

					font-size: 32px;

				}

			}

			&__desc {

				font-size: 46px;
				margin-left: 72px;
				color: #6d2d0b;

				@media $mdWidth {

					font-size: 40px;

				}

				@media $smWidth {

					font-size: 32px;
					margin-left: 0;

				}

			}

			&__price {

				margin: 16px;
				font-weight: 700;
				font-size: 70px;
				color: #cf2348;

				@media $mdWidth {

					font-size: 60px;

				}

				@media $smWidth {

					font-size: 40px;

				}

			}

			&__note {

				margin-top: auto;
				font-size: 22px;
				position: relative;
				z-index: 1;
				backdrop-filter: blur(2px);

				@media $mdWidth {

					font-size: 20px;

				}

			}

		}

		&-2 {

			padding: 16px 20px;
			display: flex;
			flex-direction: column;

			@media $smWidth {

				padding: var(--indent);

				img {

					object-position: left;

				}

			}

			&__content {

				max-width: 500px;
				margin-left: auto;
				position: relative;
				z-index: 1;
				backdrop-filter: blur(2px);

			}

			&__price {

				font-weight: 900;
				font-size: 80px;
				color: #f00;
				text-shadow: 0 0 10px #707070;

				@media $smWidth {

					font-size: 56px;

				}

			}

			&__title {

				font-weight: 900;
				font-size: 44px;
				color: #004d28;
				margin-bottom: 24px;

				@media $smWidth {

					font-size: 28px;

				}

			}

			&__desc {

				font-size: 26px;
				line-height: 1.6;
				font-weight: 500;
				color: #030202;

				@media $smWidth {

					font-size: 20px;

				}

			}

			&__note {

				margin-top: auto;
				font-size: 22px;
				text-align: right;
				margin-right: 32px;
				position: relative;
				z-index: 1;
				backdrop-filter: blur(2px);

				@media $mdWidth {

					margin-right: 0;

				}

			}

		}

	}

}