.burning-offers {

	padding: var(--space) 0;
	position: relative;

	&__bg {

		position: relative;
		height: 0;
		pointer-events: none;

		&--top img {

			position: absolute;
			top: -32px;
			right: 200px;

			@media $mdWidth {

				width: 100px;
				height: auto;
				object-fit: contain;
				right: 0;

			}

		}

		&--bottom img {

			position: absolute;
			top: -128px;
			left: 128px;

			@media $mdWidth {

				width: 96px;
				height: auto;
				object-fit: contain;

			}

		}

	}

	&__title {

		display: flex;
		position: relative;
		margin-bottom: var(--space);

	}

	&__swiper {

		position: relative;
		margin: 0 auto;
		width: 1066px;

		@media $mdWidth {

			width: 680px;

		}

	}

	&__btns {

		display: flex;
		gap: var(--margin);
		justify-content: center;
		margin-top: var(--space);
		position: relative;
		z-index: 1;

	}

	&-item {

		height: 462px;
		position: relative;

		img {

			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			object-fit: cover;

		}

		&-1 {

			padding: 16px 48px;
			display: flex;
			flex-direction: column;

			@media $mdWidth {

				padding: 16px 20px;

				img {

					object-position: right;

				}

			}

			&__content {

				max-width: 600px;
				backdrop-filter: blur(2px);

			}

			&__title {

				margin: 20px 0 40px;
				font-weight: 900;
				font-size: 50px;
				color: #cf2348;

				@media $mdWidth {

					font-size: 40px;
					margin: 16px 0;

				}

			}

			&__desc {

				font-size: 46px;
				margin-left: 72px;
				color: #6d2d0b;

				@media $mdWidth {

					font-size: 40px;

				}

			}

			&__price {

				margin: 16px;
				font-weight: 700;
				font-size: 70px;
				color: #cf2348;

				@media $mdWidth {

					font-size: 60px;

				}

			}

			&__note {

				margin-top: auto;
				font-size: 22px;
				backdrop-filter: blur(2px);

				@media $mdWidth {

					font-size: 20px;

				}

			}

		}

		&-2 {

			padding: 16px 20px;
			display: flex;
			flex-direction: column;

			&__content {

				max-width: 500px;
				margin-left: auto;
				backdrop-filter: blur(2px);

			}

			&__price {

				font-weight: 900;
				font-size: 80px;
				color: #f00;
				text-shadow: 0 0 10px #707070;

			}

			&__title {

				font-weight: 900;
				font-size: 44px;
				color: #004d28;
				margin-bottom: 24px;

			}

			&__desc {

				font-size: 26px;
				line-height: 1.6;
				font-weight: 500;
				color: #030202;

			}

			&__note {

				margin-top: auto;
				font-size: 22px;
				text-align: right;
				margin-right: 32px;
				backdrop-filter: blur(2px);

				@media $mdWidth {

					margin-right: 0;

				}

			}

		}

	}

}