.first-screen {

	position: relative;
	padding: 128px 0;
	z-index: 1;
	background-image: linear-gradient(to top right, #61e4df, #fff0e1);

	&__content {

		max-width: 800px;
		position: relative;

		@media $mdWidth {


		}

		@media $smWidth {

		}

	}

	&__title {

		margin: var(--margin) 0;

		small {

			display: block;
			font-size: 86%;
			font-weight: 700;
			margin-top: 20px;

		}

		b {

			font-weight: 900;

		}

	}

	&__text {

		margin: 60px 0;
		font-weight: 500;
		backdrop-filter: blur(2px);

	}

	.btns-bottom {

		justify-content: flex-start;

	}

	&__note {

		font-size: 20px;
		backdrop-filter: blur(2px);
		margin: 10px 0;

	}

	&__img {

		position: absolute;
		top: 0;
		left: 50%;
		right: 0;
		bottom: 0;
		overflow: hidden;
		pointer-events: none;

		img {

			position: absolute;
			top: 0;
			left: var(--margin);
			width: auto;
			height: 100%;

		}

	}

	&__bg {

		position: relative;
		height: 0;
		pointer-events: none;

		img {

			position: absolute;
			top: 0;
			left: -72px;

			@media $mdWidth {

				width: 128px;
				height: auto;
				left: -36px;
				object-fit: contain;

			}

		}

	}

}