.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	user-select: none;
	position: relative;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	display: block;

	&:hover {

		cursor: pointer;

	}

	&:focus {

		outline: none;

	}

	&:disabled {

		pointer-events: none;

	}

}

.btn {

	padding: 1px;
	border-radius: 10px;
	background-image: linear-gradient(var(--deg), var(--grey), #141414);
	font: 600 16px/24px 'Montserrat';
	color: var(--color);

	&__inner {

		display: block;
		padding: 15px 31px;
		border-radius: 10px;

	}

	&:disabled &__inner {

		color: rgba(255, 255, 255, 0.4);

	}

	&--dark &__inner {

		background-color: var(--bgBorder);

		@media $desktop {

			&:hover {

				--bgBorder: var(--brown);

			}

		}

	}

	&--brown &__inner {

		color: #fff;
		background-color: var(--brown);

		@media $desktop {

			&:hover {

				--brown: var(--bgBorder);

			}

		}

	}

}



.input {

	padding: 15px 19px;
	color: currentColor;

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px);

	border: 0;
	border-radius: 10px;
	background-color: var(--bg);
	font: 500 16px/24px 'Montserrat';

	&-wrap {

		position: relative;
		display: block;

		padding: 1px;
		border-radius: 10px;
		background-image: linear-gradient(var(--deg), var(--grey), #141414);

		&.is-error {

			background: var(--error);

		}

		&-password {

			position: relative;

			&__btn {

				position: absolute;
				top: 0;
				right: 19px;
				bottom: 0;
				margin: auto;
				width: 24px;
				height: 24px;
				stroke: #939393;

			}

			&__input[type="text"] ~ &__btn &__ico-on,
			&__input[type="password"] ~ &__btn &__ico-off {

				opacity: 0;

			}

		}

	}

	&::placeholder {

		opacity: 1;

	}

	&::-ms-clear {

		display: none;

	}

	&:focus {

		outline: none;

	}

	&:invalid {

		box-shadow: none;

	}

	&:valid {

		box-shadow: none;

	}

}


.checkbox {

	display: flex;
	position: relative;
	user-select: none;

	&__input {

		position: absolute;
		width: 16px;
		height: 16px;
		top: 4px;
		left: 0;
		appearance: none;
		opacity: .0001;

	}

	&__input:checked + &__label {

		&::after {

			opacity: 1;

		}

	}

	&__label {

		display: block;
		padding-left: 26px;
		cursor: pointer;
		transition: color var(--transitionDefault);
		font: 500 12px/24px Montserrat;

		a {

			text-decoration: underline;

			@media $desktop {

				&:hover {

					text-decoration: none;

				}

			}

		}

		&::after,
		&::before {

			position: absolute;
			width: 16px;
			height: 16px;
			top: 4px;
			left: 0;
			content: '';
			border-radius: 4px;
			background-position: center;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Crect width='15' height='15' x='.5' y='.5' stroke='url(%23a)' rx='3.5'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='16' x2='8.69' y1='0' y2='19.29' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23999'/%3E%3Cstop offset='1' stop-color='%23141414'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");

		}

		&::after {

			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23e5e5e5' fill-rule='evenodd' d='M16.7 5.3a1 1 0 0 1 0 1.4l-8 8a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4L8 12.58l7.3-7.3a1 1 0 0 1 1.4 0Z' clip-rule='evenodd'/%3E%3C/svg%3E");
			opacity: 0;
			transition: var(--transitionDefault);

		}

		@media $desktop {

			&:hover {

				color: var(--color);

			}

		}

	}

	&.is-error &__label {

		color: var(--error) !important;

	}

}

.form {

	&__row {

		margin: 15px 0;

	}

	&__inputbox {

		position: relative;
		display: block;

	}

	&__forgot-password {

		position: absolute;
		top: 0;
		right: 0;
		font-family: Montserrat;
		font-size: 12px;
		font-weight: 500;
		line-height: 24px;

	}

	&__column {

		display: flex;
		gap: 24px;

		@media $smWidth {

			display: block;

		}

	}

	&__column &__inputbox {

		width: calc( 50% - 12px );
		display: block;

		@media $smWidth {

			width: auto;
			margin: 10px 0;

		}

	}

	&__label {

		display: block;
		font: 500 12px/24px Montserrat;
		opacity: .6;
		margin-bottom: 8px;

	}

	&__checkbox {

		margin: 18px 0 16px;

	}

	&__submit {

		width: 100%;

	}

	&__after {

		margin-top: 24px;
		font: 500 12px/24px Montserrat;

		a {

			color: var(--orange);
			font-weight: 700;

		}

	}

	&__validation-message {

		font-family: Montserrat;
		font-size: 12px;
		font-weight: 500;
		line-height: 24px;
		color: var(--error);
		margin: 4px 0;

	}

}