.header {

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	padding: var(--indent) 0;

	@media $mdWidth {

		.center {

			width: 100%;

		}

	}

	&__flex {

		display: flex;
		align-items: center;
		gap: 60px;

	}

	&__logo {


	}

	&__menu {

		flex-grow: 1;

	}

	&__phone {

		a {

			display: flex;
			gap: 10px;
			font-size: 18px;
			font-weight: 700;
			align-items: center;
			color: #000;

			@media $desktop {

				&:hover {

					color: #464646;

				}

			}

		}


	}

}