.visible-md,
.visible-sm {

	display: none;

}

.center {

	width: 1260px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	padding: 0 var(--indent);

}

@media $desktop {

}

@media $tablet {

}

@media $mdWidth {

	:root {

		--space: 40px;
		--margin: 30px;
		--gap: 24px;

	}

	.hidden-md {

		display: none !important;

	}

	.visible-md {

		display: block;

	}

	.center {

		width: 768px;

	}

}

@media $smWidth {

	:root {

		--space: 36px;
		--margin: 30px;
		--indent: 20px;

	}

	.hidden-sm {

		display: none !important;

	}

	.visible-sm {

		display: block;

	}

	.center {

		width: 464px;
		max-width: 100%;

	}

}

@media $xsWidth {

	:root {

		--space: 26px;
		--margin: 20px;
		--indent: 10px;

	}

}