.menu {

	display: flex;
	position: relative;

	@media $smWidth {

		position: static;

	}

	&__btn {

		stroke: var(--red);

		@media $desktop {

			display: none;

		}

		line {

			transition: var(--transitionDefault);

			.is-open-menu & {

				opacity: 0;

				&:first-child {

					opacity: 1;
					transform: translate(10px, 0) rotate(45deg);

				}

				&:last-child {

					opacity: 1;
					transform: translate(-15px, 10px) rotate(-45deg);

				}

			}

		}

	}

	&__list {

		display: flex;
		gap: var(--margin);

		@media $mdWidth {

			display: none;
			position: absolute;
			top: 100%;
			right: 0;
			padding-top: var(--gap);

			.is-open-menu & {

				display: flex;

			}

		}

		@media $smWidth {

			justify-content: center;
			flex-wrap: wrap;
			gap: var(--indent);

		}

	}

	&__link {

		font-size: 16px;
		color: #000;
		display: block;
		white-space: nowrap;

		@media $desktop {

			&:hover {

				color: #464646;

			}

		}

		@media $smWidth {

			font-weight: 500;

		}

	}

}

@media $mdWidth {

	.is-open-menu .main {

		filter: blur(2px);

	}

}