.modal {

	flex-grow: 1;
	position: relative;
	z-index: 10;
	display: none;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: var(--indent);

	@media $smWidth {

		padding: 0;

	}

	&__box {

		position: relative;
		max-width: 100%;

	}

	&__item {

		max-width: 100%;
		width: 415px;
		position: relative;
		border-radius: 12px;
		padding: var(--indent);
		background-color: var(--bg);

		@media $smWidth {

			border-radius: 0;
			padding: var(--space) var(--indent);

		}

		&--done {

			text-align: center;

		}

	}

	&__close-btn {

		position: absolute;
		top: 12px;
		right: 12px;
		stroke: currentColor;

		@media $desktop {

			&:hover {

				opacity: .5;

			}

		}

	}

	&__ico {

		display: flex;
		justify-content: center;
		margin-bottom: var(--gap);

		svg {

			fill: none;
			stroke: currentColor;
			border: 2px solid;
			border-radius: 50%;
			color: var(--link);

		}

	}

	&__title {

		margin: 0 0 var(--gap);

	}

	&__text {

		font-size: 18px;
		margin: var(--gap) 0;
		font-weight: 500;

		a {

			color: var(--link);
			text-decoration: underline;

			@media $desktop {

				&:hover {

					text-decoration-color: transparent;

				}

			}

		}

	}

	&__foot {

		display: flex;
		justify-content: center;
		margin-top: var(--margin);

	}

}

.modal-show {

	&::after {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		z-index: 9;
		opacity: .8;
		background-color: var(--color);

	}

	.modal {

		display: flex;
		backdrop-filter: blur(2px);

	}

	.wrapper {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		pointer-events: none;

	}

}


.form {

	&__title {

		margin: 0 32px var(--gap);
		text-align: center;

	}

	&__text {

		font-size: 18px;
		margin: var(--gap) 0;
		font-weight: 500;
		text-align: center;

		a {

			color: var(--link);
			text-decoration: underline;

			@media $desktop {

				&:hover {

					text-decoration-color: transparent;

				}

			}

		}

	}

	&__inputbox {

		position: relative;
		display: block;
		margin: var(--gap) 0;

	}

	&__label {

		display: block;
		font-size: 16px;
		font-weight: 500;
		margin: 5px 0;

		&.is-required::after {

			color: var(--red);
			content: '*';

		}

	}

	&__submit {

		width: 100%;
		padding: 16px;
		font-size: 18px;

	}

	&__note {

		text-align: center;
		margin-top: var(--gap);
		font-size: 16px;
		font-style: italic;
		font-weight: 500;

	}

}