.referral {

	padding: var(--space) 0;
	position: relative;
	z-index: 1;
	background-image: linear-gradient(to top right, #61e4df, #fff0e1);

	&__content {

		max-width: 680px;
		position: relative;

		@media $smWidth {

		}

	}

	&__title {

		padding-bottom: 10px;

	}

	&__text {

		margin: var(--margin) 0;
		font-weight: 500;

		@media $mdWidth {

			backdrop-filter: blur(2px);

		}

		a {

			text-decoration: underline;
			color: var(--link);
			font-weight: 700;

			@media $desktop {

				&:hover {

					text-decoration-color: transparent;

				}

			}

		}

	}

	&__btns {

		display: flex;
		justify-content: center;
		gap: var(--margin);
		margin-top: 120px;

		@media $mdWidth {

			margin-top: var(--space);

		}

	}

	&__img {

		position: absolute;
		top: 0;
		left: 50%;
		right: 0;
		padding-left: 100px;
		bottom: 120px;
		overflow: hidden;
		display: flex;
		align-items: center;
		pointer-events: none;

		@media $mdWidth {

			bottom: 0;
			align-items: flex-end;

		}

	}

	&__bg {

		position: relative;
		height: 0;
		pointer-events: none;

		img {

			position: absolute;
			top: -128px;
			left: -72px;

		}

	}

}