.reviews {

	padding: var(--space) 0;
	position: relative;
	overflow: hidden;

	&--2,
	&--3 {

		padding-bottom: var(--margin);

	}

	&--2 &__bg {

		img {

			left: 180px;
			top: -140px;

		}

		&-full {

			bottom: 200px;
			transform: none;

		}

	}

	&__bg {

		position: relative;
		height: 0;

		img {

			position: absolute;
			top: -180px;
			left: -48px;

		}

		&-full {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0.5;
			pointer-events: none;
			display: flex;
			align-items: flex-end;

			img {

				width: 100%;
				height: auto;
				transform: scale(-1);

			}

		}

	}

	&__content {

		position: relative;

	}

	&__title {

		margin-bottom: var(--space);

	}

	&__text {

		margin: var(--space) 0 var(--margin);
		font-weight: 500;

	}

	&--2 &__text {

		margin: var(--margin) 0;

	}

	&--3 &__list {

		margin: var(--margin);

	}

	&__list {

		display: flex;
		justify-content: space-between;

		li {

			width: 270px;
			height: 480px;

			iframe {

				border: 0;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: #000;

			}

		}

	}

	.btns-bottom {

		margin-top: var(--space);

	}

	&__checked {

		display: flex;
		flex-wrap: wrap;

		li {

			width: 50%;
			flex-shrink: 0;
			padding: 0 80px 60px 124px;
			font-size: 24px;

			svg {

				position: absolute;
				top: 0;
				left: 12px;
				color: var(--link);

			}

			b {

				display: block;
				margin-bottom: 10px;

			}

			&:nth-child(4) {

				width: 40%;

			}

		}

	}

}