.total-select {

	padding: var(--space) 0 var(--margin);
	position: relative;

	&__bg {

		position: relative;
		height: 0;
		pointer-events: none;

		&--top img {

			position: absolute;
			top: -180px;
			left: 36px;

			@media $mdWidth {

				top: -48px;
				width: 128px;
				height: auto;

			}

			@media $smWidth {

				width: 72px;

			}

		}

		&--bottom img {

			position: absolute;
			right: 160px;
			top: -120px;

			@media $mdWidth {

				width: 128px;
				height: auto;

			}

			@media $smWidth {

				width: 72px;

			}

		}

	}

	&__content {

		position: relative;

	}

	&__title {

		margin-bottom: var(--space);

	}

	&__text {

		margin: var(--indent) 0;
		font-weight: 500;

	}

	&__swiper {

		margin-top: var(--space);
		position: relative;
		max-width: 1090px;

		@media $smWidth {

			border-radius: 20px;
			overflow: hidden;
			padding-bottom: 20px;
			box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 8px 22px rgba(0,0,0,0.1);

		}

		&::before {

			position: absolute;
			top: 15px;
			left: 60px;
			right: 0;
			bottom: 20px;
			content: '';
			border-radius: 25px;
			box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 8px 22px rgba(0,0,0,0.1);

			@media $mdWidth {

				left: 0;
				top: 0;
				bottom: 0;

			}

			@media $smWidth {

				display: none;

			}

		}

		.swiper-controls .swiper-pagination {

			@media $desktop {

				flex-direction: column;
				top: 30px;
				left: auto;
				right: 20px;
				gap: 8px;

			}

			@media $smWidth {

				margin-top: -26px;

			}

			.button {

				border-radius: 6px;
				width: 11px;
				height: 11px;

				&.is-active {

					background-color: #337AB7;

					@media $desktop {

						height: 32px;

					}

				}

			}

		}

	}

	&-item {

		display: flex;
		padding: 40px 20px;

		@media $mdWidth {

			padding: 20px;

		}

		@media $smWidth {

			display: block;
			padding: 0;

		}

		&__btn {

			display: flex;
			justify-content: flex-end;
			margin-top: var(--margin);

			@media $smWidth {

				justify-content: center;
				margin-top: var(--gap);

			}

		}

		&__head {

			width: 400px;
			height: 400px;
			flex-shrink: 0;

			@media $desktop {

				transform: scale(0);
				opacity: 0;

			}

			@media $mdWidth {

				width: 256px;
				height: 256px;

				img {

					width: 256px;
					height: 256px;

				}

			}

			@media $smWidth {

				width: 100%;
				height: 128px;

				img {

					width: 100%;
					height: 128px;
					border-radius: 0;
					box-shadow: none;

				}

			}

			img {

				object-fit: cover;
				box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
				border-radius: 20px;

			}

			.swiper-slide-active & {

				opacity: 1;
				transition: var(--transitionDefault);
				transform: scale(1);

			}

		}

		&__body {

			padding: 0 40px;

			@media $desktop {

				opacity: 0;
				transform: translateY(25px);
				transition: var(--transitionDefault);

			}

			.swiper-slide-active & {

				opacity: 1;
				transform: translateY(0px);
				transition-delay: var(--transitionDefault);

			}

			@media $mdWidth {

				padding: 0 24px;

			}

			@media $smWidth {

				padding: var(--gap);

			}

		}

		&__name {


		}

		&__text {

			font-size: 18px;
			line-height: 1.4;

			@media $smWidth {

				font-size: 16px;

			}

			p {

				margin: 1em 0;

			}

		}

	}

}