:root {

	--color: #333;
	--bg: #fff;
	--red: #fd626e;
	--redHover: #fc404d;

	--link: #e61919;

	--grad: linear-gradient(to right, #ec2950, #ea822a);

	--heading: #66584f;

	--error: #de0313;

	--border: #ccc;

	--transitionDefault: 0s;

	--margin: 150px;
	--space: 80px;
	--gap: 24px;
	--indent: 30px;

	--vh: 100vh;

}

$desktop: (min-width: 1200px);
$tablet:  (min-width: 728px) and (max-width: 1199px);
$mdWidth: (max-width: 1199px);
$smWidth: (max-width: 727px);
$xsWidth: (max-width: 359px);