.workflow {

	margin: var(--margin) 0;
	scroll-margin: var(--indent);

	&__list {

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 60px var(--gap);
		margin: var(--space) 0;
		counter-reset: headings 0;

		@media $mdWidth {

			gap: 60px 40px;

			li {

				flex-basis: calc( 50% - 20px );

				&::before {

					font-size: 40px

				}

			}

		}

		@media $smWidth {

			display: block;

			li {

				display: flex;
				font-size: 14px;
				line-height: 20px;
				margin-top: var(--space);
				gap: var(--gap);

				&::before {

					flex-shrink: 0;
					margin: 0;

				}

			}

		}

		li {

			counter-increment: headings 1;
			color: rgba(229, 229, 229, 0.8);
			flex-basis: 350px;

			&::before {

				display: block;
				content: '0' counter(headings, decimal);
				color: #C4BE9F;
				font-family: Montserrat;
				font-size: 48px;
				font-weight: 600;
				line-height: 1;
				margin-bottom: 20px;

			}

		}

	}

}