{% set title = "Работа Хостес в Южной Корее" %}

{% set description = "Предлагаем работу хостес моделями для девушек в Южной Корее в караоке клубах. В чем заключается работа хостес? Работа девушки хостес заключается в поддержании весёлой и дружеской обстановки с гостями. Вы составляете им компанию и не даёте заскучать" %}

{% extends "template/base.html" %}

{% block content %}

{% include "main/first-screen.html" %}

{% include "main/benefits.html" %}

{% include "main/ecosystem.html" %}

{% include "main/workflow.html" %}

{% include "main/get-started.html" %}

{% endblock %}