{% set title = "Работа Хостес в Южной Корее" %}

{% set description = "Предлагаем работу хостес моделями для девушек в Южной Корее в караоке клубах. В чем заключается работа хостес? Работа девушки хостес заключается в поддержании весёлой и дружеской обстановки с гостями. Вы составляете им компанию и не даёте заскучать" %}

{% extends "template/base.html" %}

{% block content %}

{% include "main/first-screen.html" %}

{% include "main/burning-offers.html" %}

{% include "main/subscribe-telegram.html" %}

{% include "main/reviews.html" %}

{% include "main/referral.html" %}

{% include "main/reviews-2.html" %}

{% include "main/total-select.html" %}

{% include "main/reviews-3.html" %}

{% include "main/income.html" %}

{% include "main/living-conditions.html" %}

{% include "main/candidates.html" %}

{% include "main/avia.html" %}

{% include "main/reviews-grid.html" %}

{% endblock %}